<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Permanent+Marker" rel="stylesheet">
  <link rel="stylesheet" href="/css/movie_info_style.css">
</head>
<body>


  <div class="movie_info">
    <% @movie_info["Search"].each do |element|  %>
      <% element.each do |key, value| %>
        <% if key == "Title" %>
          <span class= "title"><%= key %></span>
          <span class= "name"><%= value %></span></br>
        <% end %>
      <% end %>
    <% end %>
  </div>
    <!-- <p><span>Title:</span> <%= @movie_info %></p>
    <p><span>Year:</span> <%= @movie_year %></p>
    <p><span>Plot:</span> <%= @movie_plot %></p> -->
    <!-- <p><a href="#">Click here to see more information:</a></p> -->
    <!-- </div>
    <div id="seeMore">
      <p><span class="seeMoreKeys">Rated:</span> <%= @movie_rated %></p>
      <p><span class="seeMoreKeys">Released:</span> <%= @movie_released %></p>
      <p><span class="seeMoreKeys">Runtime:</span> <%= @movie_runtime %></p>
      <p><span class="seeMoreKeys">Genre:</span> <%= @movie_genre %></p>
      <p><span class="seeMoreKeys">Director:</span> <%= @movie_director %></p>
      <p><span class="seeMoreKeys">Writer:</span> <%= @movie_writer %></p>
      <p><span class="seeMoreKeys">Actors:</span> <%= @movie_actors %></p>
    </div> -->


</body>
</html>
