<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div class="content"
  <p><span class="seeMoreKeys">Title:</span> <%= @movie_title %></p>
  <p><span class="seeMoreKeys">Year:</span> <%= @movie_year %></p>
  <p><span class="seeMoreKeys">Plot:</span> <%= @movie_plot %></p>
  <p><span class="seeMoreKeys">Rated:</span> <%= @movie_rated %></p>
  <p><span class="seeMoreKeys">Released:</span> <%= @movie_released %></p>
  <p><span class="seeMoreKeys">Runtime:</span> <%= @movie_runtime %></p>
  <p><span class="seeMoreKeys">Genre:</span> <%= @movie_genre %></p>
  <p><span class="seeMoreKeys">Director:</span> <%= @movie_director %></p>
  <p><span class="seeMoreKeys">Writer:</span> <%= @movie_writer %></p>
  <p><span class="seeMoreKeys">Actors:</span> <%= @movie_actors %></p>
  <img class="poster" src= "<%= @movie_poster %>">
</div>

<form>
    <input type="button" value="Go Back" onClick="history.go(-1); return true;">
</form>
<form>
    <input type="button" value="Start Again" onClick="history.go(-2); return true;">
</form>


</body>
</html>
